[access "refs/heads/*"]
	read = group user/chenchaoyun (chenchaoyun)
	forgeCommitter = group user/chenchaoyun (chenchaoyun)
	push = group user/chenchaoyun (chenchaoyun)
	label-Code-Review = -2..+2 group user/chenchaoyun (chenchaoyun)
	submit = group user/chenchaoyun (chenchaoyun)
[access "refs/meta/config"]
	read = group user/chenchaoyun (chenchaoyun)
