[access "refs/heads/*"]
	read = group user/chenchaoyun (chenchaoyun)
	read = group user/jenkins
	forgeCommitter = group user/chenchaoyun (chenchaoyun)
	forgeCommitter = group user/jenkins
	push = group user/chenchaoyun (chenchaoyun)
	push = group user/jenkins
	label-Code-Review = -2..+2 group user/chenchaoyun (chenchaoyun)
	label-Code-Review = -2..+2 group user/jenkins
	submit = group user/chenchaoyun (chenchaoyun)
	submit = group user/jenkins
	pushTag = group user/chenchaoyun (chenchaoyun)
	pushTag = group user/jenkins
[access "refs/meta/config"]
	read = group user/chenchaoyun (chenchaoyun)
	read = group user/jenkins
